@import "../variables.scss";

.custom-tooltip-activity {
  background-color: $couleur-rouge;
  color: $couleur-texte-header;
  padding: 10px;
}
.dailyActivityChart {
  background-color: $couleur-texte-header;
  padding: 50px 20px 0px 0px;
  position: relative;
  h3 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 15px;
  }
}
