.custom-legend-score {
    &-score {
      font-size: 3vh;
      font-weight: 700;
      text-align: center;
      margin: 0;
    }
    &-objectif {
      text-align: center;
      color: rgba(116, 121, 140, 1);
      width: 40%;
      font-size: 1.75vh;
      margin: auto;
      padding: 0.5rem 2rem 0 2rem;
    }
  }
  
  .scoreChart {
    background-color: rgba(251, 251, 251, 1);
    position: relative;
    h3 {
      margin: 0;
      position: absolute;
      top: 10px;
      right: 0px;
      left: 20px;
      bottom: 0px;
    }
    .recharts-legend-wrapper {
      position: absolute;
      top: 30%;
      right: 17.5%;
      bottom: 22%!important;
      left: 17.5%!important;
      text-align: center;
      width: 50%!important;
      border: none;
      border-radius: 50%;
      line-height: 18px;
      background-color: transparent;
      padding: 15px;
    }
  }
 