@import "../variables.scss";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
h1 {
  font-size: 48px;
  margin: 20px 0px 5px 0px;
}
h2 {
  font-size: 18px;
}
// Structure principale
.Mainpage {
  margin-left: 5%;
  width: $main-width;
  height: $height-full;

  &__Dashboard {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3rem;

    &--Main {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 90%;

      .figures {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }

    &--Aside {
      display: flex;
      flex-direction: column;
      margin-left: $spacing-small;
    }
  }
}

// Style pour les textes spécifiques
.nom {
  color: $couleur-rouge;
}

// .activity {
//   width: 610px;
//   height: 280px;
// }
